# Cloudinary Configuration
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME="cloudinary_cloud_name"
NEXT_PUBLIC_CLOUDINARY_API_KEY="cloudinary_api_key"
CLOUDINARY_API_SECRET="cloudinary_api_secret"

CLOUDINARY_URL="cloudinary://cloudinary_api_key:cloudinary_api_secret@cloudinary_cloud_name"

